USE [master]
GO
/****** Object:  Database [HappyNewYear]    Script Date: 12/02/2023 19:55:34 ******/
CREATE DATABASE [HappyNewYear]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappyNewYear', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HappyNewYear.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HappyNewYear_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HappyNewYear_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyNewYear].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyNewYear]
GO
USE [HappyNewYear]
GO
/****** Object:  User [javalogin]    Script Date: 12/02/2023 19:55:34 ******/
CREATE USER [javalogin] FOR LOGIN [javalogin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Addressee]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addressee](
	[addresseeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[SenderId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Background] [nvarchar](20) NOT NULL,
	[Border] [nvarchar](20) NOT NULL,
	[FontColor] [nvarchar](20) NOT NULL,
	[Font] [nvarchar](20) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddAddressee]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[AddAddressee]

	-- Add the parameters for the stored procedure here
	  @Name nvarchar(50)
    
AS
BEGIN
	INSERT INTO Addressee
	VALUES (@Name)
END
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateDetails]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateDetails]
	-- Add the parameters for the stored procedure here
	 @SenderId int =0, 
	 @FirstName Nvarchar(20),
	 @LastName Nvarchar(20),
	 @Address Nvarchar(50),
	 @Email Nvarchar(50),
     @Title Nvarchar(50),
	 @Text Nvarchar(Max),
     @Background Nvarchar(20),
	 @Border Nvarchar(20),
	 @FontColor Nvarchar(20),
	 @Font Nvarchar(20),
	 @Width int,
	 @Height int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   IF @SenderId= 0
   INSERT INTO Details
   VALUES (  @FirstName ,	 
             @LastName ,
			 @Address ,
			 @Email,
			 @Title,
			 @Text ,
			 @Background , 
			 @Border ,
			 @FontColor ,
			 @Font ,
			 @Width ,
			 @Height )
   ELSE
   
   UPDATE DETAILS
   SET
             FirstName  = @FirstName,	 
             LastName = @LastName ,
			 Address  = @Address,
			 Email = @Email,
			 Title = @Title,
			 Text = @Text,
			 Background = @Background,
			 Border = @Border,
			 FontColor = @FontColor,
			 Font = @Font,
			 Width = @Width,
			 Height = @Height
      WHERE SenderId = @SenderId

END
GO
/****** Object:  StoredProcedure [dbo].[GetAddressee]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAddressee]
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Addressee
END
GO
/****** Object:  StoredProcedure [dbo].[GetDetails]    Script Date: 12/02/2023 19:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDetails]
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Details
END
GO
USE [master]
GO
